div .pageSubTitleStyle {
  font-weight: 700;
  font-size: 15px;
  margin-bottom: 15px;
}

div .cardStyle {
  padding: 17px 21px;
}

div .cardHeaderStyle {
  background-color: #ffffff;
  font-weight: 400;
  font-size: 16px;
  color: #474954;
  padding-bottom: 15px;
  margin-bottom: 15px;
}

div .metricsCardStyle {
  padding: 0px;
}

div .metricsCardBodyStyle {
  padding: 16px;
}

div .metricsTitleStyle {
  font-weight: 600;
  font-size: 20px;
  color: #1d2127;
}

div .metricsValueStyle {
  font-weight: 600;
  font-size: 18px;
  color: RGBA(29, 33, 39, 0.6);
}
