div .containingCard {
  padding: 0px;
}

div .pageTitle {
  font-weight: 700;
  font-size: 22px;
  color: #1d2127;
}

div .tableDiv {
  margin-top: 23px;
  padding: 0px 16px;
  background-color: RGBA(250, 248, 239, 0.2);
  border: none;
}

tbody .tableRowStyle {
  vertical-align: middle;
  color: #474954;
  font-size: 15px;
  font-weight: 400;
}
